/*#########################
#### Pantone Variables ####
#########################*/

// Page 1
$pantone-process-yellow:  rgb(255,229,43);
$pantone-process-magenta: rgb(213,63,119);
$pantone-process-cyan:    rgb(0,151,219);
$pantone-process-black:   rgb(78,74,71);

// Page 2
$pantone-100:        rgb(254,243,128);
$pantone-101:        rgb(255,241,102);
$pantone-102:        rgb(255,236,45);
$pantone-yellow:     rgb(255,232,0);
$pantone-103:        rgb(180,159,41);
$pantone-104:        rgb(155,141,57);
$pantone-105:        rgb(125,117,71);

// Page 3
$pantone-7401:       rgb(254,229,165);
$pantone-7402:       rgb(243,218,154);
$pantone-7403:       rgb(244,207,129);
$pantone-7404:       rgb(253,207,65);
$pantone-7405:       rgb(230,177,14);
$pantone-7406:       rgb(241,184,40);
$pantone-7407:       rgb(204,163,110);

// Page 4
$pantone-106:        rgb(255,235,104);
$pantone-107:        rgb(255,229,82);
$pantone-108:        rgb(255,221,53);
$pantone-109:        rgb(255,199,0);
$pantone-110:        rgb(204,159,38);
$pantone-111:        rgb(156,135,59);
$pantone-112:        rgb(138,122,62);